<!DOCTYPE html>
<html>
<head>

    <title>Mārča weblapa</title>

</head>
<body>


    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;  - Mārča .NET web aplikācija</p>
        </footer>
    </div>

</body>
</html>