<!-- Šajā vietā norādam šim failam, kāds modelis tiks iedots kad šo failu mēģinās uzģenirēt-->
@model List<AdvertsWebApp.Models.Advert>

<!--Šajā vietā izmantojot foreach ciklu, uzģenerēsim HTML kodu priekš katra sludinājuma-->
@foreach(var ad in Model)
{
<p>
    <a href="/Home/Advert?advertId=@ad.AdvertId">
    @ad.Name  - @ad.Price  eur
    </a>
</p>
}

@Html.ActionLink("Pievienot jaunu sludinājumu", "CreateAdvert")




